@charset 'utf-8';

/*GLOBAL*/
  /**/
  @import './global/variables.css';
  /**/
  @import './global/normalize.css';

/*THEME*/
  @import './themes/default/main.css';


body{
  /*background: #0f0 !important;*/
}
  .bg-gradient{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index:-1;
  }

ul{

}
  li{
    list-style: none;
  }


.main-content{
  display: flex;
  justify-content: center;
}

  .chat{

  }
    .chat-admin-panel{
      margin-top: 20px;
    }
      .button-open-chat{

      }

    [class*='chat-window']:not([class*='chat-window_']){
      display: flex;
      flex-direction: column;
      overflow: hidden;
      justify-content: space-between;
    }
      .chat-window__textarea{
        min-height: 20px;
      }
    .chat-window1{

    }
    .chat-window2{

    }
      .chat-window__textarea{
        padding: 10px 5px;
        outline: 1px dotted #333;
        overflow-x: hidden;
        overflow-y: auto;
      }
